@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

*{
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}

.App{
  padding: 0 15px;
}

.heading {
  font-size: 30px ;
  text-align: center;
  display: block;
  padding: 20px 0;
}